[Desktop Entry]
Name=KILL
Terminal=true
Type=Application
Exec=xfce4-terminal --title="ORBBEC" --geometry=94x25+0+0 -e "tmux kill-session -t yolo_bottle"
